<div class="bg-white p-lg-5 d-flex align-items-center justify-content-center"
     style="background-image: url('./assets/images/astronout.jpg'); background-size: cover; background-position: center;">

  <div class="card p-4" style="background-color: #3e6288; width: 50rem; border-radius: 1rem">

    <img [src]="imageSrc" [alt]="imageAlt" class="mx-auto d-block" style="width: 45rem; border-radius: 1rem">

    <div class="d-flex flex-row m-3">

      <div class="flex-grow-1 p-1">
        <h4 class="mb-0 align-content-center" style="color: white; font-family: 'Consolas',cursive; font-weight: bold"
        >Account : {{account.email}}</h4>
      </div>

      <button type="button" (click)="logout()" class="btn btn-custom px-5 border align-self-start"
              style="width: fit-content; font-weight: bold"
      >Logout
      </button>


    </div>

    <h1 class="mt-5" style="text-align: center; color: white; font-family: 'Consolas',cursive; font-weight: bold"
    >Todo Meow ≽^•⩊•^≼</h1>

    <div class="d-flex flex-column mt-3">
      <input type="text" id="todo" placeholder="Todo" class="form-control" (input)="onTodo($event)"/>
      <input type="text" id="description" placeholder="Description" class="mt-4 form-control"
             (input)="onDescription($event)"/>

      <button type="button" (click)="tambah()" class="btn btn-custom mt-4 px-5 border align-self-start"
              style="width: fit-content; font-weight: bold">
        Tambah
      </button>
    </div>

    <h1 class="mt-5" style="color: white; font-family: cursive; font-weight: bold">Meow List ≽^•⩊•^≼</h1>

    <table class="table table-bordered" style="width: 100%">
      <thead>
      <tr>
        <th class="text-center" style="width: 3rem" scope="col">No</th>
        <th class="text-center" scope="col">Todo</th>
        <th class="text-center" scope="col">Description</th>
        <th class="text-center" style="width: 15rem" scope="col">Action</th>
      </tr>
      </thead>

      <tbody class="table-group-divider">
      <tr *ngFor="let itemTodo of todoList; let i = index">
        <td class="text-center" [class.done]="itemTodo.isDone">{{i + 1}}</td>
        <td [class.done]="itemTodo.isDone">{{itemTodo.todo}}</td>
        <td class="desc-todo" [class.done]="itemTodo.isDone">{{itemTodo.desc}}</td>
        <td class="text-center">
          <div class="btn-group">
            <button type="button" (click)="isDone(i)" class="btn btn-outline-warning"
                    style="width: 5rem">{{itemTodo.doneLabel}}</button>
            <button type="button" (click)="delete(i)" class="btn btn-outline-danger" style="width: 5rem">Delete</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
